# Visual Studio related files
.vs/
*.suo
*.user
*.ncb
*.opensdf
*.sdf
*.tlog
*.vcproj.*.filter
*.vcxproj.user
*.vcxproj.filters
*.sln.docstates
.vscode

# Build artifacts
Debug/
Release/
x64/
Win32/
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.log
*.exp
*.aps
*.bsc
*.map
*.res
*.sbr
*.pch
ipch/

# Temporary files
*.~
*.bak
*.tmp

# build file
conv2d

# testing files
*.txt
*.py
